<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJs</title>
  <script src="vue.js"></script>
</head>

<body>

  <div id="app">
    <div v-for="{curso, link, aulas}, idx in data" :key="curso+idx">
      <h1><a :href="link" target="_blank" rel="noopener noreferrer">{{curso}}</a></h1>
      <ul>
        <li v-for="{nome, tempo} in aulas">
          <p>Aula: {{nome}}, {{tempo}}</p>
        </li>
      </ul>
    </div>
    <button @click="getCursos">Carregar dados</button>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        data: '',
      },
      methods: {
        getCursos() {
          fetch('http://localhost:5500/cursos.json')
            .then(r => r.json())
            .then(json => this.data = json)
        }
      }
    })
  </script>
</body>

</html>